/*orange - f36f21 */

body{
  font-family: 'karla', sans-serif;
 /*padding-top:85px;*/
}

.navbar{
    margin-bottom: 0px;
    padding: 30px 15px;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
}

.navbar-inverse .navbar-nav > li > a {
    color: #bbb;
}

.cbp-af-header-shrink{
    padding-top: 5px;
    padding-bottom: 5px;
    opacity: 0.5;
}

#lightbox ul li{
    float: left;
    display: block;
    padding: 10px;
    /*margin: 0px 10px 20px 0;*/
    list-style-type: none;
}

.fill-screen{
  background-size: cover;
  background-position: center;
}

.text-banner{
  text-align: center;
  margin: 40px 20px; 
}

footer{
    background-color: #333;
    color: #ddd;
    padding: 20px;
    text-align: center;
}

